<h1>Bienvenido</h1>
<p>Inscribete</p>
<p>Guarda tus destinos favoritos!!</p>
  <% if user_signed_in? %>
    <%= link_to 'New Destination', new_destination_path, class: 'btn btn-primary' %>
  <% end %>
